<!DOCTYPE html>

<html lang = "ru" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta http-equiv = "Content-Type" content = "text/html; charset=cp1251" />
    <title>Freelance | Add Answer</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel = "stylesheet" th:href = "@{/resources/css/global.css}">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="../views/header :: header"></div>
<div class="container">
    <form th:action = "@{/solutions/( task_id = ${param.get( 'task_id' )} )}" th:object = "${solution}" method = "post">
        <div class="form-group">
            <label for="answerDescription">Description</label>
            <textarea class="form-control" id="answerDescription" rows="3" th:field = "*{description}"></textarea>
            <span th:if = "${#fields.hasErrors( 'description' )}"
                  th:text = "${#fields.errors( 'description' ).get( 0 )}"
                  class = "text-danger"
            ></span>
        </div>

        <div class="form-group">
            <label>Add links for your works</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">https://</span>
                </div>
                <input type="text" class="form-control" aria-describedby="url-1" name = "links">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">https://</span>
                </div>
                <input type="text" class="form-control" aria-escribedby="url-2" name = "links">
            </div>
        </div>

<!--        <div class="form-group">-->
<!--            <label>Upload files</label>-->

<!--            <div class="form-group">-->
<!--                <div class="custom-file">-->
<!--                    <input type="file" class="custom-file-input" id="photoFile01" accept="image/jpeg, image/png, image/jpg">-->
<!--                    <label class="custom-file-label" for="photoFile01" aria-describedby="photoDis">Select image</label>-->
<!--                    <small class="form-text text-muted">-->
<!--                        Supported file formats .jpg, .jpeg, .png.-->
<!--                    </small>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <div class="custom-file">-->
<!--                    <input type="file" class="custom-file-input" id="photoFile02" accept="image/jpeg, image/png, image/jpg">-->
<!--                    <label class="custom-file-label" for="photoFile02" aria-describedby="photoDis2">Select image</label>-->
<!--                    <small id="photoDis2" class="form-text text-muted">-->
<!--                        Supported file formats .jpg, .jpeg, .png.-->
<!--                    </small>-->
<!--                </div>-->
<!--            </div>-->

<!--            &lt;!&ndash; Как оставить только загрузку архивов или ? &ndash;&gt;-->
<!--            <div class="form-group">-->
<!--                <div class="custom-file">-->
<!--                    <input type="file" class="custom-file-input">-->
<!--                    <label class="custom-file-label" for="archiveFile" aria-describedby="archiveDis">-->
<!--                        Choose archive-->
<!--                    </label>-->
<!--                    <small class="form-text text-muted">-->
<!--                        Supported file formats .zip, .rar.-->
<!--                    </small>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <div class="custom-file">-->
<!--                    <input type="file" class="custom-file-input" id="archiveFile">-->
<!--                    <label class="custom-file-label" for="archiveFile" aria-describedby="archiveDis">-->
<!--                        Choose a document-->
<!--                    </label>-->
<!--                    <small class="form-text text-muted">-->
<!--                        Supported file formats .docx, .xlsx.-->
<!--                    </small>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <div class="custom-file">-->
<!--                    <input type="file" class="custom-file-input" id="documentFile">-->
<!--                    <label class="custom-file-label" for="documentFile" aria-describedby="documentDis">-->
<!--                        Choose a document-->
<!--                    </label>-->
<!--                    <small class="form-text text-muted">-->
<!--                        Supported file formats .docx, .xlsx.-->
<!--                    </small>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-light">Cancel</button>
    </form>
</div>
</body>
</html>