<!DOCTYPE html>

<html lang = "ru" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta http-equiv = "Content-Type" content = "text/html; charset=cp1251" />
    <title>Freelance | Task</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel = "stylesheet" th:href = "@{/resources/css/global.css}">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script th:src = "@{/resources/js/logout.js}"></script>
    <script th:src = "@{/resources/js/api.js}"></script>
    <script th:src = "@{/resources/js/task.js}"></script>

    <script th:inline = "javascript">
        /*<![CDATA[*/
        const root = /*[[@{/}]]*/ "default";
        /*]]>*/
    </script>
</head>

<body>
<div th:replace = "../views/header :: header"></div>

<div class = "container">
    <input type = "hidden" id = "taskId" th:value = "${task.full.id}">
    <input type = "hidden" id = "taskCustomerId" th:value = "${task.full.customer.id}">
    <div class="row">
        <span th:each = "category:${task.full.categories}"
              th:text = "${category.name} + ' '"
        ></span>
    </div>

    <div class="row">
        <h2 class="col-8" th:text = "${task.full.name}">Task name</h2>
    </div>

    <div class = "row hidden" id = "addSolution">
        <a class = "btn btn-primary" style = "color: white" th:href = "@{/solutions/add( task_id = ${task.full.id} )}">Add answer</a>
    </div>

    <p th:text = "${task.full.description}">Description.</p>
    
    <h3>Links</h3>
    <ul>
        <li>
            <a href = "#" style="text-overflow: ellipsis">Link 1</a>
        </li>
        <li>
            <a href = "#" style="text-overflow: ellipsis">Link 2</a>
        </li>
    </ul>

    <div class="row">
        <h5 class="col-2">Customer</h5>
        <p th:text = "${task.full.customer.name} + ', ' + ${task.rating}">Customer</p>
    </div>

    <div class="row">
        <h5 class="col-2">Deadline</h5>
        <p th:text = "${task.full.deadline}">Deadline</p>
    </div>

    <div class="row">
        <h5 class="col-2">Payment method</h5>
        <p th:text = "${task.full.paymentMethod.name}">Payment method</p>
    </div>

    <p class="text-danger" th:text = "${task.full.budget}">5 000</p>

    <span class = "text-danger hidden" id = "solutionsUnauthorized">Please login to see solutions</span>
    <span class = "text-danger hidden" id = "solutionsEmpty">No solutions</span>
    <div id = "solutionsCards" class = "hidden"></div>

    <!-- Modal -->
    <div class = "modal fade modal-dialog-centering" id = "modalAnswer" tabindex = "-2" role = "dialog" aria-labelledby = "exampleModalLabel" aria-hidden = "true">
        <div class = "modal-dialog">
            <div class = "modal-content">
                <div class = "modal-header">
                    <h5 class = "modal-title">Solution</h5>
                    <button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close">
                        <span aria-hidden = "true">&times;</span>
                    </button>
                </div>
                <div class = "modal-body">
                    <p class = "model-text" id = "solutionDescription">Description</p>

                    <div id = "solutionLinks">
                        <h5>Links</h5>
                        <div style = "text-overflow: ellipsis; overflow: hidden; line-clamp: 1" id = "solutionLinksList"></div>
                    </div>

<!--                    <h5>Images</h5>-->
<!--                    <div class="row">-->
<!--                        <img src="" class="rounded float-left" alt="img-1">-->
<!--                        <img src="" class="rounded float-right" alt="img-2">-->
<!--                    </div>-->

<!--                    <h5>Documents</h5>-->
<!--                    <a href="#">Doc 1</a>-->
<!--                    <a href="#">Doc 2</a>-->

<!--                    <h5>Archive</h5>-->
<!--                    <a href="#">Link 1</a>-->

                    <div>
                        <h6>Executor</h6>
                        <h5 id = "solutionExecutorName">User name</h5>
                        <p id = "solutionExecutorDescription">User description</p>
                        <div id = "rateUser"></div>
                    </div>
                </div>
                <div class = "modal-footer">
                    <button type = "button" class = "btn btn-secondary" data-dismiss = "modal">Close</button>
                    <button type = "button" class = "btn btn-primary hidden" id = "chooseSolution">Choose this solution</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>