<!DOCTYPE html>

<html lang = "ru" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta http-equiv = "Content-Type" content = "text/html; charset=cp1251" />
    <title>Freelance | Task</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel = "stylesheet" th:href = "@{/resources/css/global.css}">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script th:src = "@{/resources/js/logout.js}"></script>
    <script th:src = "@{/resources/js/api.js}"></script>
    <script th:src = "@{/resources/js/task.js}"></script>

    <script th:inline = "javascript">
        /*<![CDATA[*/
        const root = /*[[@{/}]]*/ "default";
        /*]]>*/
    </script>
</head>

<body>
<div th:replace = "../views/header :: header"></div>

<div class = "container">
<!--    Customer name: <span th:text = "${task.full.customer.name}"></span> <br>-->
<!--    Customer rating <span th:text = "${task.rating}"></span> <br>-->
<!--    Categories:-->
<!--    <ul>-->
<!--        <li th:each = "category:${task.full.categories}"-->
<!--            th:text = "${category.name}"-->
<!--        ></li>-->
<!--    </ul>-->
<!--    Customer full: <span th:text = "${task.full.customer.toString()}"></span> <br>-->
<!--    Solutions:-->
<!--    <span id = "solutionsUnauthorized" class = "hidden">Please login to see solutions!</span>-->
<!--    <span id = "solutionsEmpty" class = "hidden">No solutions</span>-->
<!--    <ul id = "solutionsList" class = "hidden"></ul>-->
    <div class="row">
        <h5 class="col-2"> Categories</h5>
        <p>Categories</p>
    </div>

    <div class="row">
        <h2 class="col-8">Task name</h2>
        <h5 class="col-2">Status</h5>
        <p class="col-2">Status</p>
    </div>

    <p>Description.</p>

    <div class="row">
        <h5 class="col-2">Customer</h5>
        <p>Customer</p>
    </div>

    <div class="row">
        <h5 class="col-2">Deadline</h5>
        <p>Deadline</p>
    </div>

    <div class="row">
        <h5 class="col-2">Payment method</h5>
        <p>Payment method</p>
    </div>

    <p class="text-danger">5 000</p>

    <div class="card">
        <div class="card-header">
            <p>User who asked</p>
        </div>
        <div class="card-body">
<!--            <h5 class="card-title">Специальный заголовок</h5>-->
            <p class="card-text">Description answer.</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                See more
            </button>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>