<!DOCTYPE html>

<html lang = "ru" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta http-equiv = "Content-Type" content = "text/html; charset=cp1251" />
    <title>Freelance | Add Task</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel = "stylesheet" th:href = "@{/resources/index.css}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.16.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script th:src = "@{/resources/index.js}"></script>
</head>

<body>

<div th:replace="../views/header :: header"></div>


<div class="container">
    <form>
        <div class="form-group">
            <label for="taskName">Название</label>
            <input type="text" class="form-control" id="taskName">
        </div>

        <div class="form-group">
            <label for="taskDescription">Описание</label>
            <textarea class="form-control" id="taskDescription" rows="3"></textarea>
        </div>

        <div class="form-group">
            <label for="checkCategories">Выберите категорию</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkCategories1">
                <label class="form-check-label" for="checkCategories1">
                    Программирование
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkCategories2">
                <label class="form-check-label" for="checkCategories2">
                    Дизайн и арт
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkCategories3">
                <label class="form-check-label" for="checkCategories3">
                    Категория 3
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkCategories4">
                <label class="form-check-label" for="checkCategories4">
                    Категория 4
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkCategories5">
                <label class="form-check-label" for="checkCategories5">
                    Категория 5
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="paymentMethod">Выберите способ оплаты</label>
            <div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="paymentMethod" id="paymentMethodCard" value="card" checked>
                    <label class="form-check-label" for="paymentMethodCard">По карте</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="paymentMethod" id="paymentMethodCash" value="cash">
                    <label class="form-check-label" for="paymentMethodCash">Наличными</label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="inputBudget">Введите стоимость заказа</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input type="text" class="form-control col-3" id="inputBudget" placeholder="5 000">
                <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="inputDate">Срок окончания дедлайна</label>
            <input type="date" class="form-control col-5">
        </div>

        <button type="submit" class="btn btn-primary">Сохранить</button>
        <button type="button" class="btn btn-light">Отмена</button>
    </form>
</div>

</body>
</html>