<!DOCTYPE html>

<html lang = "ru" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta http-equiv = "Content-Type" content = "text/html; charset=cp1251" />
    <title>Freelance | Main</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel = "stylesheet" th:href = "@{/resources/css/global.css}">
    <link rel = "stylesheet" th:href = "@{/resources/css/index.css}">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script th:src = "@{/resources/js/logout.js}"></script>
    <script th:src = "@{/resources/js/index.js}"></script>
</head>

<body>
<div th:replace="../views/header :: header"></div>

<nav aria-label = "Page navigation example" th:if = "${tasks.totalPages > 1}">
    <span>Page</span>
    <span th:text = "${tasks.number + 1}"></span>
    <span>of</span>
    <span th:text = "${tasks.totalPages}"></span>
    <ul class = "pagination">
        <li class = "page-item disabled" th:if = "${tasks.number == 0}">
            <a class = "page-link" href = "#" aria-disabled = "true">Previous</a>
        </li>
        <li class = "page-item" th:if = "${tasks.number > 0}">
            <a class = "page-link" th:href = "@{/( page = ${tasks.number - 1} )}">Previous</a>
        </li>
<!--        <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--        <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--        <li class="page-item"><a class="page-link" href="#">3</a></li>-->
        <li class = "page-item disabled" th:if = "${tasks.number == tasks.totalPages - 1}">
            <a class = "page-link" href = "#" aria-disabled = "true">Previous</a>
        </li>
        <li class = "page-item" th:if = "${tasks.number < tasks.totalPages - 1}">
            <a class = "page-link" th:href = "@{/( page = ${tasks.number + 1} )}">Next</a>
        </li>
    </ul>
</nav>

<div class="container">
    <div class="row">
        <div class = "col-xs-12 col-sm-6 col-md-4 col-lg-4" th:each = "task:${tasks}">
            <div class = "card">
                <div class = "card-body">
                    <h5 class = "card-title" th:text = "${task.name}">Название карточки</h5>
                    <h6 class = "card-subtitle mb-2 text-muted">Подзаголовок карты</h6>
                    <p class="card-text" th:text = "${task.description}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Ссылка карты</a>
                    <a href="#" class="card-link">Другая ссылка</a>
                    <a class = "hidden cardLink" th:href = "@{/tasks/task( id = ${task.id} )}"></a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>