<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv = "Content-Type" content = "text/html; charset=cp1251" />
    <title>Freelance | Sign In</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel = "stylesheet" th:href = "@{/resources/css/global.css}">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script th:src = "@{/resources/js/logout.js}"></script>
</head>
<body>

<div th:replace="../views/header :: header"></div>

<div class="container">
    <h2 class="text-danger">Sign In</h2>
    <form th:action = "@{/login}" method = "post">
        <div class = "form-group">
            <label for = "login">Login</label>
            <input id = "login" class = "form-control" name = "custom_username" />
        </div>
        <div class = "form-group">
            <label for = "pass">Password</label>
            <input id = "pass" class = "form-control" name = "custom_password" />
        </div>
<!--        <div id="errors_login" class="text-danger" th:if="${(param.error != null) and (param.error[0] == 'true')}">-->
<!--            Invalid Username and Password.-->
<!--        </div>-->
<!--        <div id="logout" class="text-info" th:if="${(param.logout != null) and (param.logout[0] == 'true')}">-->
<!--            You have successfully been logged out.-->
<!--        </div>-->
        <button type = "submit" id = "btn-save" class = "btn btn-primary">Log In</button>
    </form>
</div>
</body>
</html>