<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta http-equiv = "Content-Type" content = "text/html; charset=cp1251" />
    <title>Freelance | Personal Account</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel = "stylesheet" th:href = "@{/resources/css/global.css}">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script th:src = "@{/resources/js/logout.js}"></script>
    <script th:src = "@{/resources/js/personalAccount.js}"></script>
    <script th:src = "@{/resources/js/api.js}"></script>
    <script th:src = "@{/resources/js/index.js}"></script>

    <script th:inline = "javascript">
        /*<![CDATA[*/
        const root = /*[[@{/}]]*/ "default";
        /*]]>*/
    </script>

</head>
<body>

<div th:replace = "../views/header :: header"></div>

<div class = "container">

    <h2 class = "text-danger" th:text = "${user.name}">User name</h2>
    <p th:text = "${user.description}">Description</p>


    <div id = "rateUser" th:if = "${executorRating.size() > 0}">
        <h4>Rating by category</h4>
        <div class = "row" th:each="rating:${executorRating}">
            <p class = "col-6" th:text = "${rating.category}">Category name</p>
            <p class = "col-6" th:text = "${rating.rating}">4,8</p>
        </div>
    </div>
    
    <div>
        <h5>Login</h5>
        <p th:text = "${user.login}">login</p>
    </div>
    
    <div class = "row justify-content-end">
        <h5 class="col-2">Balance </h5>
        <h4 class = "col-2 text-danger" id = "valueBalance" th:text = "${user.balance}">5000</h4>
    </div>
        
    <div class= "row justify-content-end">
        <input class = "col-4" type = "text" id = "moreBalance">
    </div>
    
    <div class = "row justify-content-end" >
        <button id = "incBalance" class = "col-4 btn btn-primary">
            Replenish balance
        </button>
    </div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Tasks</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Answers</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div th:each = "task:${tasks}">
                <div class = "card">
                    <div class = "card-body">
                        <h5 class = "card-title" th:text = "${task.name}">Task name</h5>
                        <h6 class = "card-subtitle mb-2 text-muted">
                    <span th:each = "category:${task.categories}"
                          th:text = "${category.name} + ' '"
                    ></span>
                        </h6>
                        <p class="card-text" th:text = "${task.description}">Description.</p>
                        <p class="card-text" th:text = "${task.customer.name} + ', ' + ${task.rating}"> Customer </p>
                        <h5 class="card-text" th:text = "${task.budget} + ' rub'"> 5 000</h5>
                        <!--                    <h5 class="card-text" th:text = "${task.budget}"> Rate </h5>-->
                        <a href="#" class="btn btn-primary">See more</a>
                        <a class = "hidden cardLink" th:href = "@{/tasks/task( id = ${task.id} )}"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">2</div>
    </div>
</div>
</body>
</html>