<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Freelance | Rating executors</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel = "stylesheet" th:href = "@{/resources/css/global.css}">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script th:src = "@{/resources/js/logout.js}"></script>
</head>
<body>

<div th:replace="../views/header :: header"></div>

<div class = "container">

<h2 class="text-danger">Rating Executors</h2>
    
    <table class="table table-hover">
  <thead>
    <tr class="thead-dark">
      <th>#</th>
      <th>
          <a href="#">Name</a>
      </th>
      <th>
          <a href="#">Category</a>
      </th>
      <th>
          <a href="#">Rate</a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr th:each = "rating, iter:${executorsRating}">
        <td th:text = "${iter.index + 1}"></td>
        <td th:text = "${rating.user.name}"></td>
        <td th:text = "${rating.category.name}"></td>
        <td th:text = "${rating.rating}"></td>
    </tr>
  </tbody>
</table>
    
</div>

</body>
</html>